@import 'normalize.css';

#root {
  overflow: hidden;
}

ul {
  padding: 0;
}

.container {
  padding: 10px;

  &--loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
